@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}




body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background: url(img/sunset12.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #FFF;
}


}
img {
	max-width: 100%;
	height: auto;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;


}

nav li {
	display: inline-block;
	margin-top: 1em;

}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: white;
	font-size: .9rem;
}

nav a:hover,
nav a:focus {
	color: orange;
}

@media (min-width:60rem) {
	.logo {
		text-align: center;
	}

	nav {
		text-align: center;
	}

h1{
	color: white;
	padding: .5em;
}

h1:hover,
h1:focus {
	color: orange;
}

.gallery {
  margin: 10px 50px;

}

.gallery img{
  transition: 1s;
  padding:15px;
width: 400px;

}

.gallery img:hover{
  filter:grayscale(100%);
  transform: scale(1.1);
}
.desc {
  padding: 15px;
  text-align: center;

}

/* Footer
=================== */

footer {
	background: #232323;
	color: #fff;
	text-align: center;
	padding: 5em 0;
}
.socialmediawidgets a{
	display: inline-block;
	padding: .6em;
	margin-top: 1em;

}
